
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UseExtensionIEnum</title>
</head>
<body>
    <div>
        @ViewBag.CartTotal <br />
        @ViewBag.ArrTotal <br />
        @ViewBag.FilterCategory
    </div>
</body>
</html>
