
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<label class="label label-default">Contact with: @ViewData["Name"]</label><br />
<label class="label label-success">Send mail to: <a href="mailto:@ViewData["Email"]">@ViewData["Email"]</a></label>
