
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>The Controller is: @ViewBag.Controller</div>
<div>The Action is: @ViewBag.Action</div>
<div>The Content of Controller is: @ViewBag.ControllerContent</div>
