
@{
    ViewBag.Title = "AdminAbout";
}

<h2>AdminAbout</h2>
<div>The Controller is: @ViewBag.Controller</div>
<div>The Action is: @ViewBag.Action</div>
<div>The Content is: @ViewBag.ContentAbout</div>
