@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>This is page of CustomController</title>
</head>
<body>
    <div>The Controller is: @ViewBag.Controller</div>
    <div>The Action is: @ViewBag.Action</div>
    <div>The value is: @ViewBag.TheVualue</div>
</body>
</html>
