
@{
    ViewBag.Title = "CustomController";
}

<h2>CustomController</h2>
<div>The Controller is: @ViewBag.Controller</div>
<div>The Action is:  @ViewBag.Action</div>
<div>The content of Controller is: @ViewBag.ControllerCustomContent</div>
