@model ModelBinding.Models.AddressSummary
@{
    ViewBag.Title = "DisplaySummary";
}

<h2>DisplaySummary</h2>
<div class="row">
    <label>City:</label>@Html.DisplayFor(s => s.City)
</div>
<div class="row">
    <label>Country:</label>@Html.DisplayFor(s => s.Country)
</div>