<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/layout.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h1>Product Information</h1>
    <div class="render-body">
        @RenderBody()
    </div>
    <h4><a href="http://apress.com">Apress</a></h4>
</body>
</html>
